Hotels.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="Hotels">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Hotel" minOccurs="1" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Name"  type="xs:string" minOccurs="1" maxOccurs="1"/>
              <xs:element name="Phone" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>
              <xs:element name="Address" minOccurs="1" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Number" type="xs:string" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="Street" type="xs:string" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="City"   type="xs:string" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="State"  type="xs:string" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="Zip"    type="xs:string" minOccurs="1" maxOccurs="1"/>
                  </xs:sequence>
                  <!-- Required attribute -->
                  <xs:attribute name="NearestAirport" type="xs:string" use="required"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>

            <!-- Hotel attributes -->
            <xs:attribute name="id"     type="xs:string"  use="required"/>
            <xs:attribute name="Rating" type="xs:decimal" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
